/* for sarching which font is use in the site (whatfont) 
for choosing font google fonts is use*/

  @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;900&family=Poppins:wght@300&display=swap');



*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}


.main{
    background-image:url("assests/images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(1400px , 120vw);
    /* background-size:cover; */
    height: 90vh;
    position: relative;
}
.main .box{
    height:90vh;
    width:100%;
    background-color: black;
    opacity: 0.60;
    position: absolute;
    top:0;
    
}
.main nav{
    height: 62px;
    display: flex;
    max-width: 130vh;
    margin: auto;
   justify-content: space-between;
   align-items: center;
   padding-top:10px;
}
nav img{
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;
    padding:20px;
  
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: 'Martel Sans', sans-serif;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    height:calc(100% - 72px);
    flex-direction: column;
    position: relative;
    padding:0 30px;
    text-align: center;
   
}
.hero> :first-child{
    font-weight: 900;
    font-size: 48px;
    
}
.hero> :nth-child(2){
    font-weight: 500;
    font-size: 24px;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 7px;
}
.separation{
    height: 9px;
    background-color: rgb(44, 43, 43);
}
.btn{
    padding:9px 38px;
    font-weight: bold;
    background-color:white;
    border-radius:5px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(252, 247, 247, 0.788);
    color: white;
    font-size: 15px;
}
.red-btn{
    background-color: red;
    color:white;
    align-items: center;
    border:none;
    padding: 9px 23px;
}
.hero-btn{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    margin-top: 10px;
}
.main  input{
    padding: 14px 100px 14px 14px;
    font-size: 20px;
    border-radius:5px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(252, 247, 247, 0.788);
    color:white;

}
.lal-btn{
    background-color: red;
    color:white;
    padding: 7px 24px;
    font-weight: bold;
    font-size: 25px;
    border-radius:5px;
    border:none;
}
.nav-btn{
    display:flex;
    gap: 10px;

}  
.first{
    display:flex;
    justify-content: center;
    max-width: 80vw;
    margin:auto;
    color:white;
    align-items: center;
    max-height:652px;
}
.secimg{
    position: relative;
}
.secimg img{
    width: 540px;
    padding-top: 150px;
    /* padding-left:200px ; */

}

.secimg video{
    position: relative;
    top: -327px;
    right: -65px;
    width: 26vw;
    z-index: -10;
}
.text{
    text-align:left;
    
}
.text>:nth-child(1){
    font-weight:900;
    font-size: 48px;
    font-family: 'Martel Sans', sans-serif;
}
.text>:nth-child(3){
    font-weight: 400;
    font-size: 24px;
    font-family: 'Martel Sans', sans-serif;
}
section.first.fourth img{
    padding: 100px 0;
}
section.first.third img{
    padding-top: 500px;
    padding-bottom: 250px;
}
section.first.third video{
    top:-639px;
    width: 22vw;
    left:100px;
}
.faqbox:hover{
    background-color: rgb(86, 84, 84);
}
.faqbox{
    display: flex;
    background-color: rgb(44, 43, 43);
    padding:20px;
    margin:10px 190px;
    color: white;
    font-weight: 400;
    font-size: 24px;
    font-family: 'Martel Sans', sans-serif;
    /* gap: 700px; */
    justify-content: left;
    align-items: flex-end;
}

.faq>:nth-child(2){
    gap: 843px;
}
.faq>:nth-child(3){
    gap:696px;
}
.faq>:nth-child(4){
    gap:804px;
}
.faq>:nth-child(5){
    gap:834px;
}
.faq>:nth-child(6){
    gap:697px;
}
.faq>:nth-child(7){
    gap:756px;
}

.faq h2{
    color:white;
    padding:60px 0 1px 0;
    font-family: 'Martel Sans', sans-serif;
    font-weight:900;
    font-size: 48px;
    text-align: center;
}

.faq p{
    color:white;
    padding:60px 0 1px 0;
    font-family: 'Martel Sans', sans-serif;
    font-weight:400;
    font-size: 20px;
    text-align: center;
}
.faq input{
    padding: 14px 100px 14px 14px;
    font-size: 20px;
    border-radius:5px;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(252, 247, 247, 0.788);
    color:white;
    margin-bottom: 80px;
}
.faq .lal-btn{
    background-color: red;
    color:white;
    padding: 7px 24px;
    font-weight: bold;
    font-size: 25px;
    border-radius:5px;
    border:none;
    margin-bottom: 80px;
}
footer{
    color:white;
    max-width: 60vw;
    margin:auto;
    padding: 50px 0;
    font-family: 'Martel Sans', sans-serif;
   
}
footer div {
    margin: 8px 0 1px 0;
    
}
footer div a {
    color:white;
}
.footer{
    display:grid;
    grid-template-columns:2fr 2fr 2fr 2fr;
    color:white;
   
}
.footer a {
    font-size: 14px;
    color:white;
}
.footer-item{
    display:flex;
    flex-direction: column;
    gap:14px;
}